.title {
  position: relative;
  width: 261px;
  height: 80px;
  left: 170px;
  top: 72px;

  font-family: "Noto Rashi Hebrew";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100px;
  /* or 250% */
  text-align: center;

  color: #6157b8;
}
